// colors
$buttonColor                 : #08c;

$desktopWidth            : 1450px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$fontFamily              : 'Roboto', sans-serif;
$fontSize                : 16px;
$fontColor               : #373737;
$fontLh                  : 1.2;
$sectionColor            : #f2f2f2;
