@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format('TrueType');
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("TrueType");
  font-weight: 700;
}
