.header {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: $sectionColor;
  padding: rem(12) 0;

  &__nav {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 10000;
    display: block;
    max-width: rem(122);

    &-picture {
      padding: 0;
      margin: 0;
    }

    &-caption {
      margin-top: rem(5);
      font-size: rem(14);
    }
  }

  &__menu {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $sectionColor;
    transition: all 0.5s ease-in-out;

    &-button {
      @include button($buttonColor);
      margin-top: rem(10);
      padding: rem(6px) rem(12px);
    }
  }

  &__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: rem(15px);
    list-style-type: none;
    &-link {
      text-decoration: none;
      text-transform: none;
      color: #373737;
      font-size: rem(14);
    }
  }

  &__burger-btn {
    z-index: 10000;
    padding: 0;
    margin: 0;
    border: none;
    font-size: rem(50);
  }

  @media screen and (min-width: $tableWidth) {
    &__burger-btn {
      display: none;
    }

    &__menu {
      visibility: visible;
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      flex-direction: row;
      background-color: transparent;

      &-container {
        display: flex;
        align-items: center;
      }
    }

    &__links {
      flex-direction: row;
    }
  }
}
