.extra {
  &__title-container {
    margin: rem(15px) 0;
    text-align: center;
  }

  &__title {
    font-size: rem(25);
    font-weight: 600;
  }

  &__subtitle {
    font-size: rem(25);
    font-weight: 600;
  }

  &__card-list {
    padding: 0 rem(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
  }

  &__card-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: rem(20px) rem(28px);
    box-shadow: 0 0 3rem -1rem rgb(0 0 0 / 50%);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  }

  &__card-title {
    font-size: rem(20);
    color: #ff6600;
  }

  &__card-text {
    margin: rem(18px) 0;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.5;
  }

  &__card-btn {
    @include button(#ff6600);
    font-size: rem(16);
    padding: 0.375rem 0.75rem;
  }
}
